h2 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #F4A261;
    color: #264653;
}

div {
    margin: 10px 5px;
    padding: 5px;
    text-align: center;
}

#info {
    margin-top: 50px;
    font-size: 76px;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    color: #264653;
}